<!DOCTYPE html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>Wishlist</title>
   
   <link rel="stylesheet" type="text/css" href="css/html5reset-1.6.1.css" />
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,500|PT+Sans:400,400italic,700,700italic" />
   <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
 </head>
 
	<body>
    <header>
      <img src="../static/images/placeholder-logo.png" alt="Logo" class="logo"/>
      <h1>Wishlist</h1>
      <nav>
        <a href="">Home</a>
        <a href="">Create Wishlist</a>
        <a href="">My Wishlist</a>
        <a href="">Logout</a>
      </nav>
    </header>
    <article>
    	<h1>Header 1</h1>
      <img src="../static/images/placeholder-product-img.jpg" alt="Green Sheep" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae arcu leo. Sed suscipit augue est. Donec sed erat sapien. Pellentesque sollicitudin justo magna, id tempor odio ornare ut. Morbi semper in dui at interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum sagittis turpis sed lobortis cursus. Cras id imperdiet nisl, sed porttitor est. Aenean feugiat nulla neque, at lacinia tellus aliquam a. Maecenas eu mattis lorem. Nunc condimentum ultricies urna, non iaculis mi bibendum ut. Fusce vulputate eleifend elementum. Cras rhoncus neque nibh, quis posuere erat fringilla ac. Quisque et neque sit amet sapien tristique suscipit ut et lectus. Aliquam lacus diam, commodo vel risus non, congue suscipit nisi.</p>
      <h2>Header 2</h2>
      <p> Suspendisse a condimentum diam. Quisque vitae augue nec justo fringilla mollis eget vel massa. Nullam venenatis libero sed pulvinar gravida. Fusce lacinia nulla vitae congue vehicula. Pellentesque sit amet auctor nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec convallis varius tellus in dictum. Duis vehicula vitae nisi vel ornare. Ut at tellus sed risus bibendum consequat. Sed eget adipiscing justo, eget luctus odio. Cras hendrerit augue eu varius consequat. </p>
			<dl>
        <img src="../static/images/placeholder-product-img.jpg" alt="Green Sheep" /><dt>Where is the Green Sheep?</dt>
        <dd>Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran.</dd>
        
        <dt>Where is the Green Sheep?</dt>
        <dd>Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran.</dd>
        
        <dt>Where is the Green Sheep?</dt>
        <dd>Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran.</dd>
      </dl>
      <h3>Header 3</h3>
      <p> Suspendisse a condimentum diam. Quisque vitae augue nec justo fringilla mollis eget vel massa. Nullam venenatis libero sed pulvinar gravida. Fusce lacinia nulla vitae congue vehicula. Pellentesque sit amet auctor nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec convallis varius tellus in dictum. Duis vehicula vitae nisi vel ornare. Ut at tellus sed risus bibendum consequat. Sed eget adipiscing justo, eget luctus odio. Cras hendrerit augue eu varius consequat. </p>
      <h4>Header 4</h4>
      <p> Suspendisse a condimentum diam. Quisque vitae augue nec justo fringilla mollis eget vel massa. Nullam venenatis libero sed pulvinar gravida. Fusce lacinia nulla vitae congue vehicula. Pellentesque sit amet auctor</p>
      <ul>
      	<li>Text</li>
        <li>Text</li>
        <li>Text</li>
        <li>Text</li>
        <li>Text</li>
        <li>Text</li>
      </ul>
      <p>Nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec convallis varius tellus in dictum. Duis vehicula vitae nisi vel ornare. Ut at tellus sed risus bibendum consequat. Sed eget adipiscing justo, eget luctus odio. Cras hendrerit augue eu varius consequat. </p>
      <h5>Header 5</h5>
      <p> Suspendisse a condimentum diam. Quisque vitae augue nec justo fringilla mollis eget vel massa. Nullam venenatis libero sed pulvinar gravida. Fusce lacinia nulla vitae congue vehicula. Pellentesque sit amet auctor nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec convallis varius tellus in dictum. Duis vehicula vitae nisi vel ornare. Ut at tellus sed risus bibendum consequat. Sed eget adipiscing justo, eget luctus odio. Cras hendrerit augue eu varius consequat. </p>
      <ol>
      	<li>Text</li>
        <li>Text</li>
        <li>Text</li>
      </ol>
      <h6>Header 6</h6>
      <p> Duis auctor blandit velit. Vestibulum iaculis quam sed ante fringilla congue. Maecenas luctus, lacus eget dignissim rhoncus, dolor massa convallis libero, <a href="">vel dignissim</a> ipsum ante non erat. Mauris at dolor purus. Quisque eget ullamcorper justo. Morbi mattis imperdiet turpis id sodales. Praesent mollis, mauris in rhoncus rutrum, purus est ultrices tortor, id placerat odio magna vitae ipsum. Morbi odio velit, lobortis ut rhoncus vitae, laoreet quis ante. Suspendisse potenti. Curabitur cursus ligula sit amet nisi rutrum egestas quis ac neque. Integer malesuada turpis id lorem imperdiet iaculis. Duis consequat aliquam tortor vitae molestie. Quisque eget rhoncus diam.</p>
      <form>
      	<fieldset>
          <legend>Title</legend>
          <p>
            <label>Label</label>
            <input type="text" name="username">
          </p>
          <p>
            <label>Label</label>
            <input type="text" name="username">
          </p>
          <p>
            <label>Label</label>
            <input type="text" name="username">
          </p>
        </fieldset>
        <fieldset>
        	<input type="button" value="blah">
          <input type="button" value="blah blah">
          <label>Thing</label>
          <input type="text" placeholder="prompt">
        </fieldset>
      </form>
      <form>
      	<fieldset>
        	<input type="checkbox" name="when" value="now">
          <input type="radio" name="when" value="later">
          <select>
          	<option>Australia</option>
            <option value="UK">
            	United Kingdom
            </option>
          </select>
        </fieldset>
      </form>
      	<figure id="user-data">
	      	<img id="profile-img" src="../static/images/profile-silhouette.gif" alt="Profile Image"/>
  	      <figcaption>
          	<h2>First Lastname</h2>
        		<p id="display-name">Display Name</p>
            <h3>Wishlist Title</h3>
          </figcaption>
        </figure>
      </section>
      <hr />
      <section id="product-list" class="clearfix">
          <a href="" tooltip="Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran." class="tooltip">
          	<figure>
              <img src="../static/images/placeholder-product-img.jpg" />
              <figcaption>
                Product Name
              </figcaption>
          	</figure>
          </a>
          <a href="" tooltip="Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran." class="tooltip">
          	<figure>
              <img src="../static/images/placeholder-product-img.jpg" />
              <figcaption>
                Product Name
              </figcaption>
          	</figure>
          </a>
          <a href="" tooltip="Here is the blue sheep, and here is the red sheep. Only $5.50 and comes with a special voice recording by James Curran." class="tooltip">
          	<figure>
              <img src="../static/images/placeholder-product-img.jpg" />
              <figcaption>
                Product Name
              </figcaption>
          	</figure>
          </a>
      </section> <!-- End of wishlist -->
    </article> <!-- End of content -->
		<footer>
			<a href="">Sitemap</a> | 
      <a href="">About</a> | 
      <a href="">Contact</a>
      <p>© Copyright 2014</p>
		</footer>
	</body>
</html>